#root {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#wrapper {
	flex-grow: 1;
}

body {
    background-color: var(--surface-ground);
    font-family: var(--font-family);
    color: var(--text-color);
}